@use '../../components/highlighter';

.site-work {
    margin-top: var(--section-gap);

    &__title {
        position: relative;
        display: inline;
        @include highlighter.default();
    }
}

.swiper {
    margin-top: 5rem;
    max-width: var(--page-width);
    width: 100%;
    height: 100vh;

    &-slide {

        &:hover {
            opacity: 70%;
        }
    }

    &-pagination-bullet-active {
        background-color: var(--color-accent);
    }

    &-button-prev:after,
    &-button-next:after{
        font-size: var(--font-size-1);
        font-weight: 800;
        color: var(--color-light);
    }
  }