@use '../../components/highlighter';
@use '../../utilities/responsive';

.site-work {

    &__content--responsive {
        display: none;
    }

    &__title {
        position: relative;
        display: inline;
        @include highlighter.default();

        @include responsive.max(62.5rem) {
            font-size: var(--font-size-4);
            @include highlighter.default($height: 1.5rem, $bottom: 0);
        }
        
        @include responsive.max(43.5rem) {
            font-size: var(--font-size-3);
            @include highlighter.default($height: 1rem, $bottom: 0);
        }
    }

    @include responsive.max(43.5rem) {

        &__content--responsive {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--gap-s);
        }

    }
}

.swiper {
    margin-top: 5rem;
    max-width: var(--page-width);
    width: 100%;

    @include responsive.max(43.5rem) {
        display: none;
    }
    
    &-slide {
        position: relative;

        &__overlay,
        &__text {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }
        
        &__overlay {
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        
        &__text {
            color: var(--color-light);
            top: 50%;
            left: var(--gap-xl);

            h3 {
                padding-bottom: var(--gap-xs);
            }

            p {
                font-size: var(--font-size-2);
            }

            &--right {
                left: auto;
                right: var(--gap-xl);
            }
        }

        &:hover {
            
            .swiper-slide__overlay,
            .swiper-slide__text {
                visibility: visible;
                opacity: 1;
                transition: all 0.3s;
            }

        }
    }

    &-pagination-bullet {
        background-color: var(--color-dark);
        opacity: 0.6;
    }

    &-pagination-bullet-active {
        background-color: var(--color-accent);
    }

    &-button-prev:after,
    &-button-next:after{
        font-size: var(--font-size-1);
        font-weight: 800;
        color: var(--color-light);
    }

    &-button-prev:after {
        padding-left: 2rem;
    }

    &-button-next:after {
        padding-right: 2rem;
    }
  }

body.dark {

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        background-color: var(--color-light);
        opacity: 0.8;
    }
}
