:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 5rem;
  --gap-l: 4rem;
  --gap-m: 3rem;
  --gap-s: 2rem;
  --gap-xs: 1rem;
  --border-radius: 0px;
  --color-dark: #222;
  --color-dark-200:#333;
  --color-dark-300:#444;
  --color-dark-400:#555;
  --color-dark-500:#666;
  --color-dark-600:#777;
  --color-dark-700:#888;
  --color-dark-800:#999;
  --color-accent: #60bfbf;
  --color-accent-200: hsl(180, 43%, 60%);
  --color-accent-300: hsl(180, 43%, 65%);
  --color-accent-400: hsl(180, 43%, 70%);
  --color-accent-500: hsl(180, 43%, 75%);
  --color-accent-600: hsl(180, 43%, 80%);
  --color-accent-700: hsl(180, 43%, 85%);
  --color-accent-800: hsl(180, 43%, 90%);
  --color-accent-900: hsl(180, 43%, 95%);
  --color-light: #f2f2f2;
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 85%);
  --color-light-400: hsl(0, 0%, 80%);
  --color-light-500: hsl(0, 0%, 75%);
  --color-light-600: hsl(0, 0%, 70%);
  --color-light-700: hsl(0, 0%, 65%);
  --color-light-800: hsl(0, 0%, 60%);
  --color-light-900: hsl(0, 0%, 55%);
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "ff-meta-serif-web-pro", serif;
  --line-height: 1.7;
  --font-scale: 1.25;
  --font-size: 1.5rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-width: 102rem;
  --grid-container: [full-start] minmax(3rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(3rem, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  margin: 0;
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: 0;
}
ul {
  list-style: none;
}

li {
  line-height: var(--line-height);
  font-weight: 500;
}

body {
  background-color: var(--color-light);
}

.site-header,
.site-hero,
.site-about,
.site-work,
.site-contact,
.site-footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.site-header__inner,
.site-hero__inner,
.site-about__inner,
.site-work__inner,
.site-contact__inner,
.site-footer__inner {
  grid-column: inner;
}

.site-hero,
.site-about,
.site-work,
.site-contact {
  min-height: 100vh;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  color: var(--color-dark);
}
.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-l);
}

.site-hero {
  min-height: 100vh;
  width: 100%;
}
.site-hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-hero__text {
  font-size: 8rem;
  line-height: 1.7;
  text-align: right;
  margin: 0;
  padding: 0;
  position: relative;
}
.site-hero__text--highlightened::after {
  content: "";
  display: block;
  background-color: var(--color-accent);
  height: 3.5rem;
  width: 60%;
  position: absolute;
  bottom: 2rem;
  right: -2rem;
  z-index: -99;
  opacity: 0.6;
}

.site-about {
  padding-top: var(--section-gap);
}
.site-about__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}
.site-about__title::after {
  content: "";
  display: block;
  background-color: var(--color-accent);
  height: 1.5rem;
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  right: -1.5rem;
  z-index: -99;
  opacity: 0.6;
}
.site-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.site-about__background {
  padding-right: 25rem;
  padding-left: 25rem;
  position: relative;
  margin-top: var(--section-gap-inner);
}
.site-about__text {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 25rem;
  width: 100%;
  padding: 4rem;
  margin: 0;
  position: absolute;
}
.site-about__text:nth-child(odd) {
  background-color: rgba(96, 191, 191, 0.2);
  left: 5rem;
}
.site-about__text:nth-child(even) {
  right: 5rem;
}
.site-about__text--1 {
  top: 5rem;
}
.site-about__text--2 {
  top: 15rem;
}
.site-about__text--3 {
  top: 33rem;
}
.site-about__text--4 {
  top: 48rem;
}
.site-about__button {
  background-color: var(--color-accent);
  color: var(--color-dark);
  padding: 0.8rem 3rem;
  border: 0;
  border-radius: 4px;
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}
.site-about__button:hover {
  background-color: var(--color-accent-400);
  color: var(--color-dark-400);
}

.skills {
  margin-top: 70rem;
  margin-bottom: 4rem;
}
.skills__title {
  position: relative;
  display: inline;
}
.skills__title::after {
  content: "";
  display: block;
  background-color: var(--color-accent);
  height: 1.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: -1.2rem;
  z-index: -99;
  opacity: 0.6;
}
.skills__content {
  padding-top: var(--gap-m);
  display: flex;
  gap: var(--gap-xl);
}

.skill__title {
  margin-bottom: 2rem;
  display: flex;
  gap: var(--gap-xs);
}
.skill__item {
  font-size: var(--font-size-2);
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
