@mixin default(
    $background: var(--color-accent), 
    $color: var(--color-dark), 
    $hover-background: var(--color-accent-400), 
    $hover-color: var(--color-dark-400)) {
    background-color: $background;
    color: $color;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 2rem;
    font-size: var(--font-size-4);
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}