@mixin default(
    $height: 1.5rem,
    $width: 100%,
    $bottom: 0.5rem,
    $right: -1.5rem
    ) {

    &::after {
        content: '';
        display: block;
        background-color: var(--color-accent);
        height: $height;
        width: $width;
        position: absolute;
        bottom: $bottom;
        right: $right;
        z-index: -99;
        opacity: 0.6;
    }

}