:root {

    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;

    --border-radius: 0px;

    --color-dark: #222;
    --color-dark-200:#333;
    --color-dark-300:#444;
    --color-dark-500:#555;
    --color-dark-600:#666;
    --color-dark-700:#b5b5b5;
    --color-dark-800:#d5d5d5;
    --color-dark-900:#f1f1f1;

    --color-accent: #60bfbf; // hsl(180, 43%, 56%)
    --color-accent-200: hsl(180, 43%, 60%);
    --color-accent-300: hsl(180, 43%, 65%);
    --color-accent-400: hsl(180, 43%, 70%);
    --color-accent-500: hsl(180, 43%, 75%);
    --color-accent-600: hsl(180, 43%, 80%);
    --color-accent-700: hsl(180, 43%, 85%);
    --color-accent-800: hsl(180, 43%, 90%);
    --color-accent-900: hsl(180, 43%, 95%);

    --color-light: #f2f2f2; // hsl(0, 0%, 95%)
    --color-light-200: hsl(0, 0%, 90%);
    --color-light-300: hsl(0, 0%, 85%);
    --color-light-400: hsl(0, 0%, 80%);
    --color-light-500: hsl(0, 0%, 75%);
    --color-light-600: hsl(0, 0%, 70%);
    --color-light-700: hsl(0, 0%, 65%);
    --color-light-800: hsl(0, 0%, 60%);
    --color-light-900: hsl(0, 0%, 55%);

    --font-sans: 'futura-pt', sans-serif;
    --font-serif: 'ff-meta-serif-web-pro', serif;

    --line-height: 1.5;

    --font-scale: 1.25;
    --font-size: 1rem;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );

    --page-width: 102rem;
    --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(2rem, 1fr) [full-end];
}