@use '../components/buttons' as button;

::placeholder {
    color: var(--color-dark-800);
    font-family: var(--font-sans);
    font-size: 1.25rem;
}

input,
textarea {
    background-color: #fff;
    border: 0;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 4px;
    resize: none;
}

form button {
    @include button.default();
    width: 30%;
}