@use '../components/highlighter';
@use '../components/buttons' as button;
@use '../utilities/responsive';

.site-contact {

    &__contents {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-s);
        
        @include responsive.max(62.5rem) {
            flex-direction: column-reverse;
            gap: 0;
        }
    }
    
    &__title {
        display: inline;
        position: relative;
        @include highlighter.default();
        
        @include responsive.max(62.5rem) {
            font-size: var(--font-size-4);
            @include highlighter.default($height: 1.5rem, $bottom: 0);
        }
        
        @include responsive.max(43.5rem) {
            font-size: var(--font-size-3);
            @include highlighter.default($height: 1rem, $bottom: 0);
        }
    }

    &__content {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        @include responsive.max(43.5rem) {
            justify-content: center;
        }
    }

    &__text {
        width: 100%;
        padding: 2rem 4rem;
        font-size: var(--font-size-2);
        
        @include responsive.max(62.5rem) {
            margin-top: 0;
            padding: 1rem 4rem;
        }
        
        @include responsive.max(43.5rem) {
            padding: 2rem 0;
            font-size: var(--font-size-1);
        }
    }

    &__form {
        width: 100%;
        padding: 0 var(--gap-s);
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
         
        @include responsive.max(62.5rem) {
            padding: 4rem;
        }
        
        @include responsive.max(43.5rem) {
            padding: 3rem 0;
        }

        button {
            @include button.default();

            @include responsive.max(62.5rem) {
                font-size: var(--font-size-1);
                width: 8rem;
            }
        }
    }
}

.social {
    display: flex;
    gap: var(--gap-s);
    padding-left: var(--gap-l);
    margin: 0;
    
    @include responsive.max(43.5rem) {
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    img {
        width: 2.25rem;
        height: 2.25rem;
    }
    
    &__item {
        opacity: 0.6;
        
        &:hover {
            opacity: 1;
        }

    }

}